<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Nature Wall - Climbing Walls</title>
</head>
<body>

    <header>
        <h1>Nature Wall</h1>
        <p>Experience the Thrill of Nature, Climb Our Walls!</p>
    </header>

    <section class="hero">
        <img src="static/photos/cliffromunder.jpeg" alt="Nature Wall Climbing Wall">
    </section>

    <section class="features">
        <h2>Why Choose Nature Wall?</h2>
        <table>
            <tr>
                <td class="feature">
                    <img src="static/photos/yad.jpeg" alt="Feature 1 Icon">
                    <h3>Realistic Design</h3>
                    <p>Our climbing walls mimic real rock climbing sites, providing an authentic experience.</p>
                </td>
                <td class="feature">
                    <img src="static/photos/clifzoomin.jpeg" alt="Feature 2 Icon">
                    <h3>Safe and Durable</h3>
                    <p>Engineered for safety and durability, ensuring a secure climbing experience.</p>
                </td>
                <td class="feature">
                    <img src="static/photos/clif1.jpeg" alt="Feature 3 Icon">
                    <h3>Customizable</h3>
                    <p>Tailor our climbing walls to suit your preferences and space requirements.</p>
                </td>
            </tr>
        </table>

    </section>

    <section class="cta">
        <h2>Ready to Climb?</h2>
        <p>Experience the thrill of climbing with Nature Wall. Contact us today!</p>
        <a href="contact.html">Contact Us</a>
    </section>

    <footer>
        <p>&copy; 2023 Nature Wall. All rights reserved.</p>
    </footer>

</body>
</html>
